* {
    
    margin: 0;
    padding:0;
}

header {
    background-color: cadetblue;
    padding-bottom: 50px;
    margin: 0;
    padding-top: 50px;
}


    h1{
        font-size: 100px;
        color: #fff;
        text-align: center;
    }
    
    nav{
        width: 20%;
        background-color: chartreuse;
        padding: 10px;
    }
   
    nav li{
        display: inline-block;
    }

    section{
        width: 48%;
        float: left;
        border: 2px darkblue solid;
        margin: 0.8%;

    }